.contact-container {
    margin: 2.5rem 1rem;
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact-container h2 {
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: bold;
}

iframe {
    border-radius: 1.25rem;
    height: 450px;
    width: 95%;
    max-width: 550px;
}

.contact-info-container {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.11);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    max-width: 60rem;
    width: 95%;
    border-radius: 2rem;
}

.contact-info {
    color: #FFFFFF;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 20rem;
    width: 95%;
}

.address-info {
    margin: 0;
}